/* CSS for adding content example */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:800italic);

body { 
    font-family: "Husar Bold", Courier, monospace;
    background-color: #ADD8E6;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;}

h1, h3, p {
    text-align: center;
    clear: center;
    width: 320px;
    background-color: #fff;
    color: #5a514c;
    text-align: center;}


h1 {
    margin: 150px 0 0 700px;
    height: 350px;
    width: 380px;
    text-align: center;
    background-image: url("../images/lgbtq+ project logo 3.2.png");
    background-image position: center
    background-repeat: no-repeat;
    border-top: 1px solid #bcbdc0;
    border-left: 1px solid #bcbdc0;
    border-right: 1px solid #bcbdc0;}

h3 {
    margin: 200 0 0 500px;
    background-color: #5a514c;
    text-align: center
    margin: 0 auto;
    padding: 25px 0 0 0;
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1.8em;
    font-style: bold;
    font-weight: 800;
    line-height: 0.80em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    border-left: 1px solid #bcbdc0;
    border-right: 1px solid #bcbdc0;}

centered-paragraph {
    background-color: #5a514c;
    text-align: center
    width: 400px;}

p {
    font-weight: bold;
    text-align: center;
    border-right: 2px solid #bcbdc0;
    border-bottom: 2px solid #bcbdc0;
    border-left: 2px solid #bcbdc0;}

.paragraph-box {
    display: center;
    margin: 0 auto;
    width: 450px; /* Set your desired width */
}

/* Border under box when you move script in the last example */
p + script + h3 {
    padding-bottom: 20px;
    border-bottom: 1px solid #bcbdc0;}

/* Fix for full-screen background image: Chrome on Android */
html{
    height:100%;
    min-height:100%;}
body{
    min-height:100%;}
